/* START Sidebar stylesheets*/
#sidebar {
  display: none;
  position: fixed;
  z-index: 200;
  width: 184px;
  top: 7%;
  height: 93%;
  background-color: #eeeeee;
  padding: 0;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#sidebar {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.cat {
  cursor: pointer;
}
#sidebar a {
  color: #4a4a4a;
}
.active-link {
  border-left: 0.25rem solid #f80035;
  background: #fff;
  margin: 0 -0.8125rem;
  padding-left: 0.75rem;
}

#sidebar a:hover {
  border-left: 0.25rem solid #ff0000;
  /* margin: 0 -0.8125rem;
    padding-right: 2rem; */
}
/* END Sidebar stylesheets*/

.btn2{
  display: none;
}

.msg-header{
  display: none;
}

.sidebar-close {
  display: block;
}

.navbar-icon {
  display: inline-block;
  font-size: 16pt;
  cursor: pointer;
  opacity: 0.5;
}

.navbar-toggler-icon:hover {
  opacity: 1;
}

/* SEARCH STYLES*/


#search-box{
  display: none;
  position: relative;
  width: 83%;
}
.product-search{
  padding: 0 10px 0 10px ;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:60px;
}

.product-search img{
  width:30px;
  height:30px;
}
.product-search input{
  font-size:9pt;
}
.title-product{
  font-size: 9pt;
}
.minus-plus {
  width: 20px !important;
  height: 20px !important;
  margin: 0 !important;
  line-height: 16px;
}
.quantityInput-search {
  width: 20px !important;
  height: 20px !important;
}
.value-changer-search {
  display: none;
 }

 .qyt-error{
  display: none;
 }

.search-field input {
 padding: 0.5rem 0.2rem 0.5rem 2rem;
 background: url(images/icons/search-icon.svg) no-repeat left;
 width: 100%;
 border: 1px solid #bbb;
 border-radius: 5px;
}
#search-list{
 display: none;
 width: 94%;
 position: absolute;
 top:40px;
 left: 0;
 background:white;
 box-shadow: 0 6px 7px 2px rgb(0 0 0 / 10%);
}


/*----------------------------------------------------------------*/



/*  X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap

 Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #sidebar {
    width: 200px;
    top: 63px;
    height: 87%;
  }

  .navbar-icon {
    display: inline-block;
  }

  .msg-header{
    display: block;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 887px) {
  #products{
    margin-left: 2px;
    margin-bottom: 10px;
  }
  #mobile-cart-login{
    display: none;
  }
  .btn2{
    display:flex;
  }
  #sidebar {
    display: block;
    width: 200px;
    left: unset !important;
    top: unset;
    z-index: 0;
    background:none;
    height: 90%;
  }
  .close-sidebar {
    display: none !important;
  }
  main {
    margin-left: 200px;
  }
  .navbar-icon {
    display: none;
  }
  #logo {
    width: 15%;
  }
  header {
    padding: 0.5rem 4rem;
  }
  #search {
    display: none;
  }
  #search-box{
    display: block;
    width:42%;
  }
  #search-list{
    left:31px;
  }
  .product-search{
    padding: 0 40px 0 40px ;
    height:73px;
   }
   .product-search img{
    width:50px;
    height:50px;
   } 
   .title-product{
    font-size: 11pt;
   }

}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #sidebar {
    width: 300px;
  }
  main {
    margin-left: 300px;
  }
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #sidebar {
    width: 300px;
  }
  main {
    margin-left: 300px;
  }
  header {
    padding: 0.5rem 4rem;
  }
}
